body {
	position: relative;
	background: #333;
	color: #fff;
	font-family: 'Nanum Gothic', sans-serif;
}

header {
	padding-top: 30px;
	margin: 0 auto 70px;
}

main {
	position: relative;
	margin: 0 auto 100px;
	overflow: hidden;
}

.logo {
	color: #fff;
	font-size: 25px;
	font-weight: 700;
}

.empty__message {
	padding: 0 15px;
}

.lds-dual-ring.cards__preloader {
	display: inline-block !important;
	position: static;
	top: initial;
	margin-left: 15px;
	right: initial;
	margin-top: 0;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
