.city__list__item {
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	animation: fadeIn 1s;
}
@media (max-width: 600px) {
	.city__list__item {
		width: 100% !important;
	}
}
.city__list__item__inner {
	position: relative;
	padding: 25px 20px;
	border-radius: 5px;
	box-sizing: border-box;
}
.city__list__item__inner.sunny {
	background: #f5be25;
}
.city__list__item__inner.rainy {
	background: #457ad1;
}
.city__list__item__inner.cloudy {
	background: #89929f;
}
.city__list__item__inner.nightly {
	background: #565d80;
}
.city__list__item__inner.rainy-mix {
	background: #689bef;
}
.city__list__item__inner.fogy {
	background: #dbdbdb;
	color: #333;
}

.city__list__item__current__loc__icon {
	font-size: 25px;
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}
.city__list__item__inner.fogy .city__list__item__current__loc__icon {
	color: #333;
}

/* Close button */
.city__list__item__close {
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
	display: inline-block;
	width: 21px;
	height: 21px;
	overflow: hidden;
	opacity: 0;
	transition: opacity .3s;
	outline: none;
	background: none;
	border: 0;
}
@media (max-width: 991px) {
	.city__list__item__close {
		opacity: 1;
	}
}
.city__list__item__inner:hover .city__list__item__close {
	opacity: 1;
}
.city__list__item__close::before,
.city__list__item__close::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #fff;
}
.city__list__item__inner.fogy .city__list__item__close:before,
.city__list__item__inner.fogy .city__list__item__close:after {
	background: #333;
}
.city__list__item__close::before {
	transform: rotate(45deg);
}
.city__list__item__close::after {
	transform: rotate(-45deg);
}

.city__list__item__top {
	margin-bottom: 20px;
	overflow: hidden;
}
.city__list__item__name {
	font-weight: 500;
	font-size: 20px;
	float: left;
	width: 70%;
}

.city__list__item__icon {
	float: right;
	margin-top: 5px;
	font-size: 35px;
}

.city__list__item__bottom {
	overflow: hidden;
}
.city__list__item__degree__outer {
	width: 50%;
	display: inline-block;
}
.city__list__item__degree {
	position: relative;
	display: inline;
	margin-right: 20px;
	font-size: 35px;
	float: left;
	clear: both;
}
.city__list__item__degree__icon {
	position: absolute;
	top: 7px;
	right: -14px;
	width: 7px;
	height: 7px;
	border: 2px solid #fff;
	border-radius: 50%;
}
.city__list__item__inner.fogy .city__list__item__degree__icon {
	border-color: #333;
}

.city__list__item__wind {
	float: left;
	clear: both;
}
.city__list__item__wind i {
	margin-right: 5px;
}

.city__list__item__time {
	display: inline-block;
	width: 50%;
	text-align: right;
	vertical-align: bottom;
}

@keyframes fadeIn {
	from { opacity: 0; }
		to { opacity: 1; }
}
