.add__card__btn {
	float: right;
	width: 50px;
	height: 50px;
	background: #4caf50;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	outline: none;
	color: #434343;
	font-size: 33px;
	transition: box-shadow .5s;
}
.add__card__btn:hover {
	box-shadow: 0 0 3px #4caf50;
}
